# dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# producción
build/
dist/

# entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor
.vscode/
.DS_Store