/* Login.css */

/* Fondo de la página */
body {
  margin: 0;
  padding: 0;
  background-image: url('barbero.jpg');  /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
}

/* Contenedor principal */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Asegura que el logo y el formulario estén centrados verticalmente */
}

/* Logo fuera del contenedor del formulario */
.login-logo {
  text-align: center;
  margin-bottom: 70px;
}

/* Tamaño del logo */
.logo-image {
  width: 50px;  /* Ajusta el tamaño del logo */
  height: auto;
}

/* Caja de login */
.login-box {
  background-color: rgba(255, 255, 255, 0.8);  /* Fondo blanco translúcido */
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Título del login */
.login-title {
  font-size: 24px;
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo de los inputs */
.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

/* Botón de login */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #d9534f; /* Rojo barbería */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #c9302c; /* Rojo más oscuro */
}

/* Estilo de los links */
.login-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-link {
  color: #d9534f; /* Rojo barbería */
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

/* Estilo del captcha */
.login-input {
  margin-top: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}