.appointments-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(206, 88, 88);
}

.appointments-container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.appointments-container p {
  font-size: 18px;
  color: #ff6347;  /* Color para los mensajes de error */
  font-weight: 600;
}

.appointments-container ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.appointments-container li {
  background-color: rgba(0, 0, 0, 0.6); /* Fondo con transparencia */
  color: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.appointments-container li:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Efecto hover */
}

.appointments-container button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.appointments-container button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Efecto hover */
}
